:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-blue: #3d546f;
  --basic-darkblue: #293449;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --special-orange: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-green: #5fbb2d;
  --special-orangelight: #ffd180;
  --special-darkblue: #32425c;
  --spicial-white: rgba(255, 255, 255, 0.5);
  --special-black: rgba(0, 0, 0, 0.5);
  --spicial-white-transparent: rgba(255, 255, 255, 0.3);
  --special-red: #ba2732;
  --spacial-grey: #a9a9a9;
  --speial-rose: #f9f5f0;
  --background-modal: #f1f1f1;
  --background-modal-2: #f4f4f4;
  --background-catalog: #f7f3ec;
  --border-pagination: #e5e5e5;
  --box-shadow: rgba(0, 0, 0, 0.15);
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* временная подсветка блоков in header
.main-catalog,
.useful-info-1 {
  outline: 2px solid rgba(0, 0, 245, 0.9);
  outline-offset: -2px;
}

.breadcrumbs,
.catalog-wrapper {
  outline: 9px solid rgba(255, 0, 255, 0.7);
  outline-offset: -9px;
}

.main-catalog h2 {
  outline: 2px solid rgba(0, 255, 125, 0.7);
  outline-offset: -2px;
}

.filter,
.catalog {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.page-catalog {
  outline-offset: -5px;
  outline: 5px solid rgba(0, 0, 0, 1);
}

.product-list {
  outline-offset: -5px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
}
*/

.header {
  background-color: var(--basic-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.header-top {
  width: 100%;
  height: 42px;
  margin-bottom: 41px;
  background-color: var(--basic-darkblue);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top a:not(.logo-header) {
  font-size: 18px;
  color: var(--basic-white);
  padding: 9px 19px;
}

.header-top .container {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  max-height: 100%;

}

.container .logo-header {
  position: relative;
  bottom: -5.5px;
}

.container form {
  margin-right: auto;
  margin-left: 42px;
}


/* кнопка-ссылка офромить заказ*/
.green-button {
  background-color: var(--basic-green)
}

.green-button:hover {
  background-color: var(--special-green);
}

.green-button:active {
  color: var(--spicial-white);
}

/* header-middle */

.header-middle {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.header-middle h2 {
  width: 197px;
  margin: 0;
  margin-left: 30px;
  margin-right: 93px;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: italic;
  color: var(--basic-red);
}

.tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding: 7px 45px 8px 74px;

}

.call-us p {
  margin: 0;
  font-size: 14px;
  color: var(--special-darkblue);
  text-align: center;
  padding-top: 6px;
}

.header-middle .call-us {
  align-self: center;
  margin-right: auto;
}

/* уголок пользовтеля */

.log-in,
.sing-in,
.userpic {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  align-self: flex-start;
}

.header-middle .sing-in {
  padding: 12px 24px;

}

.header-middle .log-in {
  padding: 12px 27px;
  margin-right: 10px;
}


.profile-navigation {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-darkblue);
}

.user-profile a:hover,
.unlogged-user a:hover {
  color: var(--basic-red);
}

.unlogged-user a:active,
.logged-user a:active,
.profile-navigation a:active {
  color: var(--basic-greylight)
}

/* меню навигации по сайту*/
.header-middle .logged-user {
  display: flex;
  flex-direction: column;
}

.header-middle .userpic {
  padding: 12px 57px 12px 56px;
}

.header-middle .user-profile {
  margin: 7px auto;
}


.header-navigation-wrapper {
  background-color: var(--basic-darkblue);
}

.header-navigation {
  background-color: var(--basic-blue);
}

.header-navigation a {
  font-size: 18px;
  color: var(--basic-white);
}

.header-navigation a:hover,
.header-navigation a:focus {
  background-color: var(--basic-darkblue);
  color: var(--basic-white);
}

.header-navigation a:active {
  background-color: var(--basic-darkblue);
  opacity: 0.5;
}

/* main index */

.category-list .promo-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--spicial-white-transparent);
  text-transform: uppercase;
}

.category-list .promo-button:hover {
  background-color: var(--basic-greylight);
  opacity: 0.3;
}

.category-list .promo-button:active {
  background-color: var(--spacial-grey);
  opacity: 0.3;
}

.category-list h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.category-list .category-material,
.category-list .category-delivery {
  background-color: var(--special-orange);
}

.category-list .category-tool {
  background-color: var(--special-blue);
}

.category-list .category-machinery {
  background-color: var(--special-lilac);
}

.category-list .category-discount {
  background-color: var(--special-greenlight);
}



/*стилизация слайдера*/
.slider-box li {
  height: 226px;
  width: 620px;
}

.slider-box li:first-child {
  background: url('../img/worker-1.jpg');
  background-size: 100%;
}

.slider-box li:last-child {
  background: url('../img/worker-2.jpg');
  background-size: 100%;
}

.slider-box h1 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--special-black);
}

.slider-box p {
  margin: 0;
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--special-black);
}

.slider-box .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.slider-box .button:active,
.wrapper .button:active,
.service-list .button:active {
  background-color: var(--special-red);
}

/*Блок с Популярными товарами*/

.wrapper {
  background-color: var(--speial-rose);
}

.wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darkblue);
}

.wrapper .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

/*Блок с популярными брендами*/

.brand-partners a:hover {
  box-shadow: 0px 4px 20px var(--box-shadow);
}

.brand-partners a:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px var(--box-shadow);
}

/*Срвисы*/

.useful-info-1 {
  background-color: var(--basic-background);
}

.useful-info-1 h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.service-list p {
  margin: 0;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  color: var(--basic-black);
}

.service-list h3 {
  margin: 0;
  font-size: 36px;
  line-height: 24px;
  color: var(--basic-darkblue);
  text-transform: uppercase;
}

.service-list .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}


/* block useful-info-2*/

.useful-info-2 .container {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 457px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.features h2,
.contacts h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.features p {
  margin: 0;
  font-size: 13px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  color: var(--basic-black);
}

.features .info-pub {
  width: 385px;
}

.contacts p {
  padding-top: 24px;
  margin: 0;
  font-size: 13px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  color: var(--basic-black);
  padding-right: 120px;
}

.features li {
  font-size: 18px;
  color: var(--basic-black);
  padding-bottom: 12px;
  padding-left: 37px;
}

.transport-partners li::before {}

.features .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  padding: 10px 40px;
  align-self: flex-start;
  margin: 0px;
}

.contacts .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  padding: 10px 60px;
}

.contacts img {
  margin-top: 32px;
  margin-bottom: 25px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*style of buttons */

.main-index .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.write-us p {
  margin: 0;
}

.closing-button .write-us {
  background-image: url('../img/icon-close.svg');
}


/*main catalog */

.main-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;
}

.breadcrumbs li {
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.main-catalog .breadcrumbs,
.main-catalog .page-title {
  grid-column: 1/-1;
}

.filter {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.catalog {
  grid-column: -2/-1;
  display: flex;
  flex-direction: column;
}


.useful-info-1 p {
  padding-right: 30px;
  padding-bottom: 68px;
  margin: 0;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  color: var(--basic-black);
}

.useful-info-1 h2 {
  padding-top: 64px;
  padding-bottom: 25px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-background);
}

.useful-info-1 {
  width: 100%;
  background-color: var(--basic-background);
  grid-column: 1/-1;
}


.main-catalog .page-title {
  padding: 30px 739px 30px 29px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darkblue);
  background-color: var(--basic-background);
}

.filter h5,
.catalog h5 {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.filter h5,
.sort {
  background-color: var(--background-catalog);
}

.filter h5 {
  padding: 10px 151px 10px 18px;
}

/*Полоска сортировки*/
.sort a {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort a:hover {
  color: var(--basic-black);
  opacity: 1;
}

.list-sort a:hover {
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: solid;
}

.sort-item a {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: dotted;
}

.filter form {
  margin: 0;
}

.filter legend {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.filter li {
  font-size: 15px;
  line-height: 19px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  text-transform: uppercase;
}

.filter .white-button {
  background-color: transparent;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  text-transform: uppercase;
}

/*Карточки с товаром*/

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-top: 28px;
  margin-bottom: 47px;
}

.product-card h4 {
  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
}

.product-card .old-price {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
  color: var(--spacial-grey);
}

.product-card .new-price {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.new::before {
  content: "New";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

/* действия при наведении на карточку товара (верстать пока не умею)

.product-card li:hover {
}

*/

.pagination a {
  border: 1px solid var(--border-pagination);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination a:hover {
  border: 1px solid var(--basic-greylight);
  border-radius: 2px;
}

.pagination a:active {
  border: 1px solid var(--basic-red);
}

/*Индикатор активности (верстать пока не умею)*/


.modal-write-us {
  background-color: var(--background-modal-2);
}

.modal-write-us p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-buying-notice {
  background-color: var(--background-modal);
}

.modal-buying-notice h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--basic-white);
}

.popup .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.popup .white-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
}

/* footer */

.footer-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 54px;
}

.footer-top {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
  background-color: var(--special-darkblue);
}

.footer-top p {
  width: 325px;
  margin: 0;
  margin-top: 22px;
}


.tel-footer a,
.main-site-sections a {
  color: var(--basic-white);
}

.main-store-sections a,
.footer-bottom a {
  color: var(--special-orangelight);
}

.main-site-sections a:hover,
.main-store-sections a:hover,
.footer-bottom a:hover {
  text-decoration: underline;
}

.main-site-sections a:active,
.main-store-sections a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-bottom {
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-darkblue);
}

.footer-bottom .container {
  display: grid;
  grid-template-columns: 1fr 1fr min-content min-content;
  gap: 50px;
}

.footer-bottom .copyright {
  width: 234px;
  margin: 0;
}

/* далее пойдут стили кнопок соц сетей*/

.container .socials {
  width: 134px;

  justify-self: center;
  text-align: center;
}

.socials ul {
  margin: 0 auto;
}

.socials .vk {}

.socials .fb {}

.socials .instagram {}
