:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-blue: #3d546f;
  --basic-darkblue: #293449;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --special-orange: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-green: #5fbb2d;
  --special-orangelight: #ffd180;
  --special-darkblue: #32425c;
  --spicial-white: rgba(255, 255, 255, 0.5);
  --special-black: rgba(0, 0, 0, 0.5);
  --spicial-white-transparent: rgba(255, 255, 255, 0.3);
  --special-red: #ba2732;
  --spacial-grey: #a9a9a9;
  --speial-rose: #f9f5f0;
  --background-modal: #f1f1f1;
  --background-modal-2: #f4f4f4;
  --background-catalog: #f7f3ec;
  --border-pagination: #e5e5e5;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  background-color: var(--basic-background);
}

.header-top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-darkblue);
}

.header-top a {
  font-size: 18px;
  color: var(--basic-white);
}

/* кнопка-ссылка офромить заказ*/
.green-button {
  background-color: var(--basic-green);
}

.green-button:hover {
  background-color: var(--special-green);
}

.green-button:active {
  color: var(--spicial-white);
}

/* header-middle */
.header-middle h2 {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: italic;
  color: var(--basic-red);
}

.tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.call-us p {
  margin: 0;
  font-size: 14px;
  color: var(--special-darkblue);
}

/* уголок пользовтеля */

.unlogged-user a,
.userpic {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.profile-navigation {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-darkblue);
  font-style: normal;
}

.profile-navigation a:hover,
.unlogged-user a:hover {
  color: var(--basic-red);
}

.unlogged-user a:active,
.logged-user a:active,
.profile-navigation a:active {
  color: var(--basic-greylight)
}

/* меню навигации по сайту*/
.header-navigation-wrapper {
  background-color: var(--basic-darkblue);
}

.header-navigation {
  margin: 0;
  list-style: none;
  background-color: var(--basic-blue);
}

.header-navigation a {
  font-size: 18px;
  color: var(--basic-white);
}

.header-navigation a:hover,
.header-navigation a:focus {
  background-color: var(--basic-darkblue);
  color: var(--basic-white);
}

.header-navigation a:active {
  background-color: var(--basic-darkblue);
  opacity: 0.5;
}

/* main index */

.category-list,
.slider-box {
  margin: 0;
  list-style: none;
}

.category-list .promo-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--spicial-white-transparent);
  text-transform: uppercase;
}

.category-list .promo-button:hover {
  background-color: var(--basic-greylight);
  opacity: 0.3;
}

.category-list .promo-button:active {
  background-color: var(--spacial-grey);
  opacity: 0.3;
}

.category-list h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.category-list .category-material,
.category-list .category-delivery {
  background-color: var(--special-orange);
}

.category-list .category-tool {
  background-color: var(--special-blue);
}

.category-list .category-machinery {
  background-color: var(--special-lilac);
}

.category-list .category-discount {
  background-color: var(--special-greenlight);
}



/*стилизация слайдера*/
.slider-box li {
  height: 226px;
  width: 620px;
}

.slider-box li:first-child {
  background: url('../img/worker-1.jpg');
  left: 130px;
  top: 522px;
  background-size: 100%;

}

.slider-box li:last-child {
  background: url('../img/worker-2.jpg');
  left: 130px;
  top: 522px;
  background-size: 100%;
}

.slider-box h1 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--special-black);
}

.slider-box p {
  margin: 0;
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--special-black);
}

.slider-box .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.slider-box .button:active,
.wrapper .button:active,
.service-list .button:active {
  background-color: var(--special-red);
}

/*Блок с Популярными товарами*/

.wrapper {
  background-color: var(--speial-rose);
}

.wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darkblue);
}

.wrapper .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

/*Блок с популярными брендами*/

.brand-partners li {
  list-style: none;
}

.brand-partners li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brand-partners li:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/*Срвисы*/

.useful-info-1 {
  background-color: var(--basic-background);
}

.useful-info-1 h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.useful-info-1 p,
.service-list p {
  margin: 0;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  color: var(--basic-black);
}

.service-list li {
  list-style: none;
}

.service-list h3 {
  margin: 0;
  font-size: 36px;
  line-height: 24px;
  color: var(--basic-darkblue);
  text-transform: uppercase;
}

.service-list .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}


/* block useful-info-2*/
.features h2,
.contacts h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.features p,
.contacts p {
  margin: 0;
  font-size: 13px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-style: normal;
  color: var(--basic-black);
}

.features ul {
  margin: 0;
}

.features li {
  list-style: none;
  font-size: 18px;
  color: var(--basic-black);
}

.main-index .button,
.useful-info-2 .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.write-us p {
  margin: 0;
}

.closing-button .write-us {
  background-image: url('../img/icon-close.svg');
}

/*main catalog */
.breadcrumbs ul {
  margin: 0;
}

.breadcrumbs li {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.main-catalog h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: var(--basic-background);
}

.filter h5,
.catalog h5 {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.filter h5,
.sort {
  background-color: var(--background-catalog);
}

/*Полоска сортировки*/

.sort a {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort a:hover {
  color: var(--basic-black);
  opacity: 1;
}

.list-sort a:hover {
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: solid;
}
.list-sort a {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: dotted;
}

.sort li {
  list-style: none;
}


.filter legend {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.filter li {
  font-size: 15px;
  line-height: 19px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  text-transform: uppercase;
}

.filter .white-button {
  background-color: transparent;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  text-transform: uppercase;
}

/*Карточки с товаром*/

.product-list {
  margin: 0;
}

.product-list li {
  list-style: none;
}

.product-card h4 {
  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
}

.product-card del {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
  color: var(--spacial-grey);
}

.product-card ins {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.new::before {
  content: "New";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

/* действия при наведении на карточку товара (верстать пока не умею)

.product-card li:hover {
}

*/

.pagination li {
  list-style: none;
}

.pagination a {
  border: 1px solid var(--border-pagination);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}


.pagination a:hover { 
  border: 1px solid var(--basic-greylight);
  border-radius: 2px;
}

.pagination a:active { 
  border: 1px solid var(--basic-red);
  border-radius: 2px;
}

/*Индикатор активности (верстать пока не умею)*/



.modal-write-us {
  background-color: var(--background-modal-2);
}
.modal-write-us p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-buying-notice {
  background-color: var(--background-modal);
}

.modal-buying-notice h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--basic-white);
}

.popup .button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.popup .white-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
}

/* footer */
.footer-top {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
  background-color: var(--basic-blue);
}

.footer-top p,
.footer-navigation ul {
  margin: 0;
}

.footer-navigation li {
  list-style: none;
}

.tel-footer a,
.main-site-sections a {
  color: var(--basic-white);
}

.main-store-sections a,
.footer-bottom a {
  color: var(--special-orangelight);
}

.main-site-sections a:hover,
.main-store-sections a:hover,
.footer-bottom a:hover {
  text-decoration: underline;
}

.main-site-sections a:active,
.main-store-sections a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-darkblue);
}

.footer-bottom p,
.socials ul {
  margin: 0;
}

/* далее пойдут стили кнопок соц сетей*/


.socials .vk {
  background: url('../img/icon-vk.svg') no-repeat 100% 100%;

}

